.header {
    position: relative;
    width: 100%;
    background-color: rgba(4, 31, 229, 0.3);
    background: transparent;
    z-index: 10;
}

.headerContainer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
